@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
  *::after {
    box-sizing: inherit;
  }
 
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  // font-family: 'Roboto Slab', serif; 
}
